:root{
    --results-bg: rgb(255, 255, 255); 
    --results-hover: azure;
    --resutls-input-focus: 1px solid rgb(40, 101, 214);
    --results-border: rgb(205, 229, 243);
}

.search{
    display: flex;
    flex-direction: column;
}

.search__seraches{
    margin: auto;
    box-sizing: border-box;
    width: 85%;
    max-width: 950px;
    min-width: 110px;
    padding-left: 10px;
}

.search__results{
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--results-bg);
    margin-top: 40px;
    z-index: 90000000;
}

.search__item{
    margin: 10px 0;
}

.search__item:hover {
    background-color: var(--results-hover);
}
.search__cta{
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    border-bottom: 0.3px solid var(--results-border);
}

.search__input{
    height: 40px;   
    border: 1px solid rgb(79, 109, 133);
    border-radius: 1px;
    border: none;
    font-size: 1.1rem;
    box-shadow: 0px 4px 3px -3px black, 0px -1px 3px 1px #b9c3d6;
}

.search__input:focus{
    outline: var(--resutls-input-focus);  
}