@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Ibarra+Real+Nova:wght@500&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Dosis', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../assets/annie-spratt-O_Lyb6Et9Hw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(70%);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

